@import url(http://fonts.googleapis.com/css?family=Tienne:900);

.hero-unit {
  text-align: center;
}

.hero-unit h1 {
  font-family: "Tienne", serif;
  font-size: 72pt;
}

#ids {
  height: 200px;
  font-size: 20px;
}

#submit-ids {
  width: 544px;
}
